*, *:before, *:after {
    box-sizing: border-box;
}
html{
    font-family: "Magicher", serif;
}
/* Estilos CSS para la barra superior */
header {
    position: sticky;
    top: 0px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: #ffefcd;
    color: #1D1D1B;
    padding: 5px 40px;

}

.top-nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0px;
}

.logo img {
    text-align: center;
    width: 180px; /* Ajusta el tamaño de tu logo */
    height: auto;
}


.menu {
    list-style: none;
    display: flex;
    gap: 40px;
}

.menu-item a {
    font-size: 1rem;
    text-decoration: none;
    color: #1D1D1B;

}


.user-actions {
    display: flex;
    gap: 15px;
}

.cart:hover, .search-bar:hover, .menu-item:hover, .logo img:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.search-bar input {
    padding: 5px;
    border: none;
}

.search-bar button {
    background-color: #1D1D1B;
    color: #fff;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
}

.cart {
    position: relative;
}

.cart-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #0f0f0f;
    border: 2px solid #080808;
    width: 200px;
    display: none;
}

.cart:hover .cart-dropdown {
    display: block;
}

aside {
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 1000px;
}
/* Establece el ancho del main en un 80% del ancho de la pantalla */
main {
    margin-top: 10px;
    width: 100%;
    margin-left: auto;
}
/* Estilos para los filtros */
.filters {
    float: left; /* Coloca los filtros a la izquierda del contenido principal */
    width: 250px; /* Cambia el valor según el ancho deseado para los filtros */
    /* Agrega otros estilos según tus preferencias */
}
.lista-productos-nuevos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

#productos-nuevos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}



/* Estilos para el carrito de compras */
#cart-container {
    position: fixed;
    top: 0;
    right: -300px; /* Inicialmente fuera de la pantalla */
    width: 300px;
    height: 100%;
    background-color: #9b8888;
    box-shadow: -2px 0 100px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    transition: right 0.3s ease-in-out;
    z-index: 999;
}

.cart-hidden {
    right: -300px; /* Oculto inicialmente */
}

.cart-visible {
    right: 0px !important; /* Visible al desplegar */
}

/* Estilos adicionales según tus preferencias */


/* Estilos para ocultar la pestaña */
.hidden {
    display: none;
}

/* Estilos para el botón de abrir la pestaña (puedes personalizarlos) */
#open-tab-button {
    justify-content: left;
    background-color:#ffefcd;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: left;
}

/* Estilos para los elementos de la pestaña (puedes personalizarlos) */
#tab-content ul {
    list-style: none;
    padding: 0;
}

#tab-content ul li {
    margin-bottom: 10px;
}

#tab-content ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

