*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-family: "Magicher", serif;
}

.main-header {
    align-items: center;
    background: #ffefcd;
    color: #1D1D1B;
    display: flex;
    justify-content: space-between;
    padding: .3125rem 2.5rem;
    position: sticky;
    right: 0px;
    top: 0px;
    width: 100%;
}

.logo-image {
    height: auto;
    width: 11.25rem;
}


.menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu-item {
    transition: all .3s ease-out;
}

.menu-item:hover,
.cart:hover,
.search-bar:hover {
    font-size: 1.125rem;
}

.menu-link {
    color: #1D1D1B;
    height: 100%;
    opacity: 0.75;
    padding: 1.625rem 1.375rem;
    text-decoration: none;
    transition: all .1s ease-out;
}

.menu-link:hover,
.cart:hover,
.search-bar:hover {
    opacity: 1;
}

.user-actions {
    display: flex;
    gap: .9375rem;
}

#cart-button {
    color: #1D1D1B;
}

.cart,
.search-bar {
    color: #1D1D1B;
    cursor: pointer;
    opacity: 0.75;
    text-decoration: none;
    transition: all .1s ease-out;
}

.hidden {
    display: none;
}

main {
    align-items: center;
    display: flex;
    justify-content: center;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    justify-content: center;
    width: 100%;
    height: auto;
}

.main-title {
    font-size: 1.625rem;
    margin: 1.25rem;
}

.grid-layout {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    justify-content: center;
    gap: 5px;
    aspect-ratio: auto;
    width: 100%;
}

.product {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    aspect-ratio: auto;
}

.product-image {
    max-height: 25rem;
    max-width: 22.5rem;
    width: 100%;
    height: 100%;
}

#cart-container {
    position: fixed;
    top: 0;
    right: -300px; /* Inicialmente fuera de la pantalla */
    width: 300px;
    height: 40%;
    background-color: #9b8888;
    box-shadow: -2px 0 100px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    transition: right 0.3s ease-in-out;
    z-index: 999;
}

.cart-hidden {
    right: -300px; /* Oculto inicialmente */
}

.cart-visible {
    right: 0px !important; /* Visible al desplegar */
}

@media (max-width: 1080px) {
    .grid-layout {
        grid-template-columns: 33% 33% 33%;
    }
}